NodeRED/flows.json
[{"id":"c597edc4.472ba","type":"tab","label":"20MOB - Trabalho final IoT","disabled":false,"info":""},{"id":"f3738d5e.90641","type":"inject","z":"c597edc4.472ba","name":"Acionar contagem","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":100,"wires":[["e63be342.ad188"]]},{"id":"e63be342.ad188","type":"function","z":"c597edc4.472ba","name":"Simulação ciclista","func":"function create_UUID(){\n    var dt = new Date().getTime();\n    var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n        var r = (dt + Math.random()*16)%16 | 0;\n        dt = Math.floor(dt/16);\n        return (c=='x' ? r :(r&0x3|0x8)).toString(16);\n    });\n    return uuid;\n}\n\nmsg.payload = {};\nmsg.payload['cyclistUUID'] = create_UUID();\nmsg.payload['timestamp'] = new Date().getTime();\nmsg.payload['action'] = \"CYCLIST\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":100,"wires":[["a5f6f961.d744c8","ad15304f.f52fd"]]},{"id":"a5f6f961.d744c8","type":"mqtt out","z":"c597edc4.472ba","name":"Totem Contagem IoT","topic":"totemcontagemiot","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"785f6967.c7e518","x":720,"y":100,"wires":[]},{"id":"ad15304f.f52fd","type":"debug","z":"c597edc4.472ba","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":700,"y":180,"wires":[]},{"id":"785f6967.c7e518","type":"mqtt-broker","name":"Mosquitto Server","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]